#Vivado
FPGA/acoustic_camera.cache/
FPGA/acoustic_camera.hw/
FPGA/acoustic_camera.ip_user_files/
FPGA/acoustic_camera.runs/
FPGA/acoustic_camera.sim/
FPGA/acoustic_camera.gen/
FPGA/.Xil/
FPGA/*.jou
FPGA/*.log
FPGA/*.str
FPGA/*.backup*
FPGA/vivado*.jou
FPGA/vivado*.log
FPGA/webtalk*.log
FPGA/usage_statistics_webtalk.html
**/xsim.dir/
*.wdb
*.pb

#KiCad
PCB/*-backups/
PCB/_autosave-*
PCB/fp-info-cache
PCB/*.kicad_prl
PCB/*.lck

.DS_Store
Thumbs.db
*~

.venv/


